* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/home.jpg);
  display: flex;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 2rem;
}
li {
  list-style: none;

  padding-top: 1rem;
}
.links {
  display: flex;
}

.links a {
  padding-right: 2rem;
  color: black;
  text-decoration: inherit;
}

.socials {
  display: flex;
}

.socials a {
  padding-right: 2rem;
  color: black;
  text-decoration: inherit;
}
.hero-right {
  background-color: blue;
  width: 50%;
}
