/* Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

/* Josefin font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* ---------------- Variables --------------------- */
:root {
  /* Color variables */
  --color-dominant: #6601ff;
  --color-dominant-variant: #956afa;
  --color-theme-yellow: rgb(255, 255, 0);
  --color-white: #fff;
  --color-black: rgb(0, 0, 0);
  --color-grey: rgb(112, 112, 112);
  --color-light-grey: rgba(255, 255, 255, 0.6);
  --bg-light-color: #ffffff;
  --bg-dark-color: #25255d;
  --bg-loader-color: #212121;
}

/* ----------------------------------------------------- General Components ----------------------------------------------------------- */
/* Nav for all pages */
.navbar {
  /* background: rgba(0, 0, 0, 0.3); */
  background: rgba(127, 127, 127, 0.3);
  width: max-content;
  display: flex;
  padding: 0.5rem 0.5rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  border: #9b23d0;
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-black);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.4);
}
nav a.active {
  background: var(--color-bg);
  color: var(--color-dominant);
}
/* Theme toggle */
.themeBtn {
  background: rgba(127, 127, 127, 0.3);
  width: max-content;
  display: flex;
  padding: 0.5rem 0.5rem;
  z-index: 8;
  position: fixed;
  right: 0.1%;
  transform: translate(-50%);
  top: 2%;
  gap: 0.8rem;
  border-radius: 3rem;
}

.themeBtn:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}

/* Loader */
.loaderCard {
  background-color: var(--bg-loader-color);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loader {
  color: var(--color-grey);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.wordsLoader {
  overflow: hidden;
  position: relative;
}
.wordsLoader::after {
  content: "";
  position: absolute;
  inset: 0;
  /* background: linear-gradient(
    var(--bg-loader-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-loader-color) 90%
  ); */
  z-index: 20;
}

.wordLoader {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--color-dominant-variant);
  animation: spin_4991 5s;
}

@keyframes spin_4991 {
  1% {
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
  }

  10% {
    -webkit-transform: translateY(-0%);
    transform: translateY(-0%);
  }

  20% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  30% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  70% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }
  80% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }
  90% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
  100% {
    -webkit-transform: translateY(-500%);
    transform: translateY(-500%);
  }
}

/* Backgrounds */

#home {
  background-image: url(../assets/moon.svg);
}
.aboutContainer {
  background-image: url(../assets/moon.svg);
}
#applications {
  background-image: url(../assets/moon.svg);
}
#services {
  background-image: url(../assets/moon.svg);
}
/* Tooltip formatting */
[data-tooltip] {
  position: relative;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%; /* put it on the top */
  width: max-content;
  opacity: 0;
  transition: opacity 0.05s ease-in-out;
}

[data-tooltip]:hover:after {
  opacity: 1;
}

div[data-tooltip]:after {
  left: 5px !important;
}
/* ------------------------------------------------ Home page ----------------------------------------------- */

section {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  font-family: "Rubik", sans-serif;
  background-color: var(--bg-light-color);
}
hero-text {
  padding-top: 5px;
  padding-bottom: 5px;
}
.tagline {
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
}

.hero-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  animation: leftFadeIn 1s ease-in-out 0s 1 normal none;
}

@keyframes leftFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
li {
  list-style: none;

  padding-top: 1rem;
}
.links {
  display: flex;
}

.links a {
  margin-right: 1.5rem;
  color: var(--color-black);
  text-decoration: inherit;
  display: inline-block;
  position: relative;
}

.links a:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.links a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  color: var(--color-dominant);
}

.socials {
  display: flex;
  margin-top: 0.1rem;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  margin-right: 10px;
  color: var(--color-black);
  text-decoration: inherit;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 50%;
}
.socials a:hover {
  background-color: var(--color-dominant);
}

.theme a {
  color: var(--color-black);
  text-decoration: inherit;
  display: inline-block;
  position: relative;
}
.hero-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rightFadeIn 1s ease-in-out 0s 1 normal none;
}

@keyframes rightFadeIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#copyright {
  bottom: 0.5rem;
  right: 1rem;
  font-size: xx-small;
}

#container {
  height: 100vh;
  width: 100%;
  /* background-color: black; */
}

/* ----------------------------------------------------------- About Me --------------------------------------------------------------- */
.aboutContainer {
}

.aboutMe {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  /* glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
}

.skills {
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rightFadeIn 1s ease-in-out 0s 1 normal none;
  margin: 3rem;

  /* glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
}
/* --------------------------------------------------------- Services -------------------------------------------------------------- */
/* --------------------------------------------------------- Contact Me -------------------------------------------------------------- */
/* --------------------------------------------------------- Mini apps -------------------------------------------------------------- */
