@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- Variables --------------------- */
:root {
  /* Color variables */
  --color-dominant: rgb(139, 92, 246);
  --color-dominant-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-black: rgb(0, 0, 0);
  --color-grey: rgb(112, 112, 112);
  --font--dominant: ;
}

/* ---------------- Home Page --------------------- */

/*============ MEDIA QUERIES (MEDIUM DEVICES)===============*/
@media screen and (max-width: 1242px) {
  section {
    flex-direction: column;
    z-index: 2;
  }
  h1 {
    font-size: 15px;
  }
  .tagline {
    font-size: 13px;
    text-align: center;
  }

  .hero-left {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    z-index: 2;
  }

  .hero-right {
    width: 100%;
    display: flex;
    vertical-align: top;
  }
  #container {
    vertical-align: top;
    margin-top: -10rem;
  }
  .navbar {
    color: var(--color-white);
  }
}
/*============ MEDIA QUERIES (SMALL DEVICES)===============*/
@media screen and (max-width: 750px) {
  .links {
    display: none;
  }
  /* ---------------- About Me --------------------- */
  .me {
    width: 95%;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 1ßrem;
  }
  .aboutContainer {
    align-items: center;
  }
  .aboutMe {
    margin: 0rem;
    width: 90%;
  }
  .skill {
    width: 7rem;
  }
  /* ---------------- Services --------------------- */

  /* ---------------- Contact me --------------------- */
  .contact3d {
    width: 100%;
  }
  /* ---------------- Mini Apps --------------------- */
}
