@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- Variables --------------------- */
:root {
  /* Color variables */
  --color-dominant: #9b23d0;
  --color-dominant-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-black: rgb(0, 0, 0);
  --color-yellow: rgb(255, 227, 47);
  --font--dominant: ;
}

/* ---------------- Nav --------------------- */

/* .dark-mode {
  nav a {
    color: var(--color-white);
  }
} */

/* ---------------- Home Page --------------------- */
.dark-mode {
  background-image: url(../assets/home.jpg);
  color: var(--color-white);

  .links a {
    color: var(--color-white);
  }
  .socials a {
    color: var(--color-white);
  }
  .navbar a {
    color: var(--color-white);
  }
}
/* ---------------- About Me --------------------- */

/* ---------------- Services --------------------- */

/* ---------------- Contact me --------------------- */

/* ---------------- Mini Apps --------------------- */
